.popup-bl {
  width: 900px;
  max-width: 90%;
  max-height: 90%;
  padding: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #232323;
  overflow-y: auto;

  &.small {
    width: 685px;
  }
}

.popup-close {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;

  &:before,
  &:after {
    content: '';
    width: 30px;
    height: 2px;
    position: absolute;
    top: 30px;
    left: 15px;
    transform: rotate(-45deg);
    background: #fff;
  }
  &:after {
    transform: rotate(45deg);
  }
  &:hover {
    opacity: 0.7;
  }
}

.popup-title {
  margin: 0 0 40px;
  font-weight: 300;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
}

.popup-wr {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background: rgba(35, 35, 35, 0.7);
  display: none;

  &.open {
    display: block;
  }
}